RewriteEngine On

# Forcer HTTPS et enlever www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.allo-taxi-fontvieille\.fr$ [NC]
RewriteRule ^ https://allo-taxi-fontvieille.fr%{REQUEST_URI} [L,R=301]

# Pointer vers /allotaxifontvieille
RewriteCond %{REQUEST_URI} !^/allotaxifontvieille/
RewriteRule ^(.*)$ /allotaxifontvieille/$1 [L]