RewriteEngine On

# Forcer HTTPS et enlever www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.allo-taxi-tarascon\.fr$ [NC]
RewriteRule ^ https://allo-taxi-tarascon.fr%{REQUEST_URI} [L,R=301]

# Pointer vers /allotaxitarascon
RewriteCond %{REQUEST_URI} !^/allotaxitarascon/
RewriteRule ^(.*)$ /allotaxitarascon/$1 [L]