@use "settings";

footer {
    padding: 30px;
    box-shadow: 0 0 10px settings.$blackShadow;

    .widgets {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
        }

        .logo {
            max-height: 50px;
        }

        h2 {
            font-weight: bold;
            color: settings.$black;
        }

        .social-icons {
            i {
                font-size: 20px;
            }
        }
    }

    .copyright {
        border-top: 1px solid settings.$border;
        margin-top: 50px;
        padding-top: 30px;

        p {
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}
