@use "settings";

#home {
    #hero {
        margin: 120px 30px 30px;
        background: url(../images/hero.webp) center/cover;
        box-shadow: 0 0 5px settings.$blackShadow;
        border-radius: 10px;

        .container {
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-top: 200px;
            gap: 20px;

            @media screen and (max-width: 992px) {
                width: 100%;
            }

            h1,
            h2,
            p {
                text-shadow: 0 0 5px settings.$black;
            }

            h1,
            h2 {
                text-transform: none;
                color: settings.$white !important;
            }

            h1 {
                font-weight: normal;
                background: settings.$glass;
                padding: 2px 10px;
                border-radius: 50px;
                border: 1px solid settings.$textLight;
            }

            h2 {
                font-size: 20px;
                font-weight: normal;
            }

            p {
                color: settings.$textLight !important;
            }
        }
    }

    #advantage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media screen and (max-width: 992px) {
            grid-template-columns: 1fr;
        }

        .item {
            display: flex;
            padding: 20px;
            gap: 20px;
            background: settings.$white;
            align-items: center;

            i {
                background: settings.$black;
                padding: 10px 15px;
                color: settings.$color1;
                font-size: 25px;
                border-radius: 5px;
            }

            p {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }

    #nos-services {
        .title-section {
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 20px;
            align-items: center;
            padding-left: 20px;
            border-left: 2px solid settings.$color1;

            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr;
            }
        }

        .services-container {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr;
            }
        }

        .card {
            img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }

            h4 {
                padding: 20px 20px 0;
            }

            p {
                padding: 20px;
            }

            a {
                display: block;
                padding: 0 20px 20px;
                color: settings.$black;
            }
        }

        .card-icon {
            padding: 30px 20px 20px;

            .icon-img {
                background: settings.$black;
                padding: 10px 15px;
                color: settings.$color1;
                font-size: 25px;
                border-radius: 5px;
            }

            h4 {
                padding: 30px 0 0 !important;
            }

            p {
                padding: 20px 0 !important;
            }

            a {
                padding: 0 !important;
            }
        }
    }

    #notre-groupe {
        background: settings.$black;

        .container {
            display: grid;
            grid-template-columns: 60% 40%;
            gap: 20px;

            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr;
            }
            .title-section {
                padding-left: 20px;
                border-left: 2px solid settings.$color1;

                h2,
                h3 {
                    color: settings.$white !important;
                }
            }

            .text-container {
                .item {
                    margin-top: 50px;

                    div {
                        display: grid;
                        grid-template-columns: 5% 95%;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 20px;
                    }

                    i {
                        width: 30px;
                        height: 30px;
                        background: settings.$color1;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }

                    h4 {
                        color: settings.$white !important;
                    }

                    p {
                        color: settings.$textLight !important;
                    }
                }
            }

            .form-container {
                width: calc(100% - 20px);
                padding: 20px;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    margin-top: 50px;
                }

                h4 {
                    padding-bottom: 30px;
                    font-size: 20px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    label {
                        text-transform: uppercase;
                    }

                    input {
                        padding: 5px 10px;
                        background: settings.$bg;
                        border-radius: 5px;
                        border: 1px solid settings.$border;
                    }

                    span {
                        text-align: center;
                    }
                }
            }
        }
    }

    #map {
        background: url(../images/map.webp) center/cover;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            max-width: 320px;
            text-align: center;

            i {
                color: settings.$color1;
                font-size: 24px;
            }

            .title-map {
                font-weight: 700 !important;
                text-transform: none;
                font-size: 20px;
            }
        }
    }
}
